header h1 {
    line-height: 45px;
    background-color: pink;
    padding: 15px 30px 15px 100px;
    display: inline;
    float: left;
}
nav {
    background-color: grey;
    padding: 30px;
    padding-left: 500px;
    margin: 15px;
    float: right;
}

nav a {
    color: pink;
    padding: 30px 25px;
}

figure img {
    width: 100%;
}

.container {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container h3 {
    display: inline;
}

.container h5 {
    display: inline;
}

.container img {
    display: inline;
}