header h1 {
    line-height: 45px;
    background-color: pink;
    padding: 15px 30px 15px 100px;
    display: inline;
    float: left;
}
nav {
    background-color: grey;
    padding: 30px;
    padding-left: 500px;
    margin: 15px;
    float: right;
}

nav a {
    color: pink;
    padding: 30px 25px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
}

figure img {
    width: 100%;
}

.text h2 {
    position: relative;
}

.about p {
    position: relative;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container h3 {
    display: inline;
}

.container h5 {
    display: inline;
}

.container img {
    display: inline;
    border: 10px solid pink;
}

.led, .calculator, .puzzel, .buddy {
    position: relative;
    width: 50%;
}

.container img:hover {
    background-color: grey;
    opacity: 0.7
}

.contact ul li {
    display: inline;
    padding: 50px;
    align-content: center;
}