* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    line-height: 45px;
    background-color: pink;
    padding: 15px 30px 15px 100px;
    display: inline;
    float: left;
}

nav {
    background-color: grey;
    padding: 30px;
    padding-left: 500px;
    margin: 15px;
    float: right;
}

nav a {
    color: pink;
    padding: 30px 25px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
}

figure img {
    display: inline;
    width: 100%;
}

figure p {
    display: inline;
    position: absolute;
    top: 375px;
    right: 125px;
    background-color: pink;
    padding: 15px;
    font-size: 25px;
}

.text h2 {
    position: relative;
}

.about-me p {
    left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 100px;
}

.container h3 {
    display: inline;
    position: absolute;
    top: 80px;
    left: 50px;
}

.container p {
    display: inline;
    position: absolute;
    top: 125px;
    left: 50px;
}

.container img {
    display: inline;
    border: 10px solid pink;
    margin: 10px;
}

.report {
    position: relative;
}

.report h3 {
    top: 150px;
}

.report p {
    top: 200px;
}

.led, .calculator, .puzzel, .buddy {
    position: relative;
    width: 50%;
}

.container img:hover {
    background-color: grey;
    opacity: 0.7
}

.contact-me ul li {
    display: inline;
    padding: 50px;
}